Question - exact format of PSK headers and header boundary.

Hi there,

In RFC 16, the format of the headers is defined as

> Each set of headers is formatted like those found in HTTP Requests.

With a link to section 3.2 of RFC 7230, which defines the format of a single header. However, the RFC  omits the detail of how each header is _separated_ from the rest. While seemingly trivial, it could cause issues between various platforms or implementations.

For example, the current [interledger javascript implemenation](https://github.com/interledgerjs/ilp/blob/master/src/utils/details.js) uses '\n' to separate headers. RFC 7230 however defines the separator between headers as

> HTTP-message   = start-line
>                       *( header-field CRLF )
>                       CRLF
>                       [ message-body ]
> 

i.e headers are separated by a CRLF ('\r\n').

Note also that in the case where no headers are present (of particular interest for the private header portion of the PSK message), only a single line ending would separate the start-line from the message body (as I read it anyway, please correct me if I'm wrong).

This leads me to think that there is some ambiguity in how a PSK message with public headers and application data, _but no private headers_ would be rendered. The current implementation produces this:

```
PSK/1.0
Nonce: bOyTLeBv5XRfwJffYTR_tA
Encryption: none
public_header: header_value



test_data
```

i.e.
```
[status-line][LF]
[public header][LF]
[public header][LF]
[public header][LF]
[LF] <separator between public header section and 'body'> 
[LF] <?>
[LF] <separator between private header section and 'body'>
[application data]
```

But i would have thought that it should produce this:

```
[status-line][LF]
[public header][LF]
[public header][LF]
[public header][LF]
[LF]<separator between public header section and 'body'> 
[LF]<separator between private header section and 'body'> 
[application data]
```

I hope this makes sense.  Is it worth clarifying the RFC, or am I making mountains out of molehills?

Thanks for catching that difference between `\r\n` and `\n`; I'll update the document to specify that we're just using a single newline character between headers.

In the case of an empty `headers` section, the implementation and pseudocode are correct, although the spec is confusingly worded in places. For instance, it says `separated by an empty line` in a couple places, but as you pointed out, that's different from `\n\n`. The correct behavior of an empty headers field is to have the `\n\n` twice in a row, which actually leads to three empty lines rather than the two that somebody might expect. This is easier to understand if `DATA_DELIMITER` is set to a different string:

```
PSK/1.0
Nonce: wPfUbsCCmrq2lvx2KryDTw
Encryption: none
foo: bar
beep: boop(before \n 1)
(empty line)
(after \n 2)(before \n 1)
(empty line)
(after \n 2)application data
```

I'll make the spec clearer about this behavior, so it isn't worded ambiguously.

Shouldn't we be replicating the HTTP header (RFC 7230) behaviour exactly? 

I worry about replicating a standard but then deviating from it slightly for non-obvious reasons. As a developer I'd find this very confusing (especially if I am using a 3rd party library to build the PSK request which has standard RFC 7230 behaviour).

Also, it seems strange to have multiple newlines following the headers if no encryption is used (i.e. there are no private headers).

The PSK message should always take the form (as in the spec):

```http
PSK/1.0
Header-1: value-1
Header-2: value-2
Header-3: value-3

<psk-message-body>
```

If there is encrypted content (and some private headers) then `<psk-message-body>` will also contain headers and a newline before the real message body. If there is encryption AND no private headers then I'd expect the decrypted `<psk-message-body>` to start with a newline and then the body.

If this is odd then we should enforce a status line in the encrypted content so we have:

```http
PSK/1.0

<psk-message-body>
```

The behaviour of the receiver of a PSK message should be, if the headers indicate that the message body is encrypted, to decrypt the message body and then parse it like another PSK message (i.e. the parsing logic is recursive). 

We should then define rules for merging this embedded message into the parent (i.e. if there are headers that appear in both messages).

> Shouldn't we be replicating the HTTP header (RFC 7230) behaviour exactly?

Fair enough. My concern is just that it's another breaking change to our components.

> Also, it seems strange to have multiple newlines following the headers if no encryption is used (i.e. there are no private headers).

That's only the case if encryption is disabled _and_ no private headers were specified. Even when encryption is off, the headers are still divided into two sections which are parsed into two separate objects.

Like you said, combining the two groups of headers makes the logic more complicated, because we need rules for merging the two sets of headers. Additionally, it hides loses some information: which set the different headers were included in. It might be important to your application whether some header was private or public.

Given that disabling encryption is meant to aid in development and testing, we should have minimal difference between the two encryption settings. Ideally, you should be able to just flip a switch in the PSK library when you're testing, and everything goes unencrypted without the other components having to adjust for it. If it starts merging headers together or adjusting the data format, it makes it harder to see what's going on.

> Fair enough. My concern is just that it's another breaking change to our components.

I don't think it would be a breaking change? We use `parse-headers`, which accepts both `\r\n` and `\n` as recommended by the HTTP spec (see [section 19.3](https://www.w3.org/Protocols/rfc2616/rfc2616-sec19.html#sec19.3).

And yeah, strongly agree with Adrian that we should follow HTTP as closely as possible and deviate only with a very, very strong reason.

> Given that disabling encryption is meant to aid in development and testing, we should have minimal difference between the two encryption settings.

Totally agree, encryption should be used wherever possible, so we're designing this as an encryption-first design. The `Encryption: none` setting should be interpreted as an encryption algorithm where the ciphertext matches the plaintext, not as "turning off" encryption. In that case, having the four CRLFs makes perfect sense and is what anyone would expect.

Perhaps this distinction could be made more clear in the spec (`Encryption: none` means ciphertext=plaintext, *not* "turning off" encryption).



> Fair enough. My concern is just that it's another breaking change to our components.

Then let's do it quickly before it becomes a breaking change to other people's components too 😄 

> That's only the case if encryption is disabled and no private headers were specified. Even when encryption is off, the headers are still divided into two sections which are parsed into two separate objects.

This is implementation logic and doesn't actually make much sense. If encryption is disabled then there ARE no private headers. 

Having an arbitrary new-line between the headers that will be public and those that will be private when encryption is enabled is strange anyway because in RFC 7230 the order of headers is not important.

It seems like you're trying to find a way to have encryption disabled for testing but still be able to differentiate between the public and private headers and it's not clear why this is useful.

Commented above before seeing @justmoon 's response.

I'm still not sure about the `ciphertext=plaintext` idea. We'd need to make it very clear then that `Encryption: none` is only intended for testing and I'm unsure what we gain from that?

I can imagine a lot of implementations considering encryption and unnecessary overhead which then makes implementing PSK a bit weird because they'll never have private headers.

Can I have conflicting headers in the public and private blocks for `Encryption: none`? This is unavoidable if the private block is encrypted since it's possible that an intermediary may add a header that then conflicts with a header inserted by the sender.




> I don't think it would be a breaking change? We use parse-headers, which accepts both \r\n and \n as recommended by the HTTP spec (see section 19.3.

Checked the code and you're right. I thought it took an array split on `\n`, but that was just to parse out the status line.

> I can imagine a lot of implementations considering encryption and unnecessary overhead which then makes implementing PSK a bit weird because they'll never have private headers.

I think almost all implementations will want to add encryption, but if some implementation _really_ doesn't want to, it's not so bad to include an extra newline in their code.

> Can I have conflicting headers in the public and private blocks for `Encryption: none`

I think you should always be able to have conflicting public and private headers, because it would leak information otherwise. If there were an application-level protocol that used a private `Nonce` header, for example, and you saw a public `Nonce` header, you could deduce that the user isn't using that application-level protocol even though their private headers are encrypted.

If the behavior in this case were different between encrypted and decrypted, it would put extra logic on the application level and make it harder to use PSK.

> I think almost all implementations will want to add encryption, but if some implementation really doesn't want to, it's not so bad to include an extra newline in their code.

Micro-payments from a resource limited device? 

The point here is differentiating between three different use cases:

  1. I want to use encryption: `Encryption: aes-256-gcm 58EowcXBk3qBIvJ0kmvdCh`
  1. I want to use encryption but right now I am debugging/testing: `Encryption: ?`
  1. I don't want to use encryption: `Encryption: none`

> I think you should always be able to have conflicting public and private headers, because it would leak information otherwise.

I agree. But if I say `Encryption: none` then **there are no private headers**. They are all public and the newline that separates them is arbitrary.

If, on the other hand, I want to distinguish between public and private data because I plan to use encryption but right now I am debugging so the encrypted stiff is in the clear there should be a way to signal that. Something that says; "Take the data, that follows the public headers and newline, and process it like another PSK message after "simulating" a  decryption step (i.e. It also has headers which you should interpret).

Maybe, instead of `Encryption: none` we should have `Encryption: debug` or use `Encryption: aes-256-gcm 58EowcXBk3qBIvJ0kmvdCh` and have another header that says 'Debug-encryption: true'.

In my opinion the best way to **debug**  is to do the encryption and pass the decryption key in a public header.




> 2. I want to use encryption but right now I am debugging/testing: `Encryption: ?`
> 3. I don't want to use encryption: `Encryption: none`

I still think that differentiating these two cases causes complexity in higher level protocols. If `Encryption: none` changes the overall structure of PSK, then all higher level protocols need to specify how they work in each case of encryption. In your example of a low-power device that wants to send micropayments, it would be unable to send an SPSP payment, because the SPSP protocol was written with a separation of public and private headers in mind. If, on the other hand, we could keep the semantics the same but just leave out the encryption algorithm (like stefan's `ciphertext = plaintext` idea), a device incapable of encryption could use the exact same application layer protocols as any other.

> I still think that differentiating these two cases causes complexity in higher level protocols.

I don't follow this. The purpose of the application protocol is to establish which transport protocol to use and setup any prerequisites for that protocol. For PSK the application protocol only needs to be able to establish a shared key between the two entities.

PSK with or without encryption shouldn't impact the application protocol unless it depends on the ability to send encrypted data. That doesn't appear to be the case.

> because the SPSP protocol was written with a separation of public and private headers in mind

I'm not sure this is true. If it is I'd like to understand what this dependency is and how it's dealt with by SPSP when using `Encryption: none`.

> > because the SPSP protocol was written with a separation of public and private headers in mind
> I'm not sure this is true. If it is I'd like to understand what this dependency is and how it's dealt with by SPSP when using `Encryption: none.`

Right now the `Encryption: none` case isn't dealt with separately, because it works exactly the same as the encrypted case, just where ciphertext is plaintext. SPSP does set fields in PSK like the private Expires-At, Content-Type, and Content-Length headers. If the `Encryption: none` case didn't separate private and public headers, SPSP would have to behave differently depending on encryption. Sometimes it would be looking for headers in two different objects, and sometimes it would be using just one object (and having to handle duplicate headers).

> If the Encryption: none case didn't separate private and public headers, SPSP would have to behave differently depending on encryption. Sometimes it would be looking for headers in two different objects, and sometimes it would be using just one object (and having to handle duplicate headers).

I believe this is the wrong way to handle the PSK message because it (like the line-endings) is similar to HTTP but not exactly the same so it's confusing.

A PSK message should be the same as an HTTP message (except that the status line says PSK not HTTP). It should not have two groups of headers. It has headers and a body.

It seems like we are saying that the body will always be an "embedded" private PSK message with it's own headers and a body.

The problem is we have no status line at the start of this embedded message so if encryption is `none` then it looks like there two groups of headers separated by a new line rather than a private message which is the body of a public message.

Also, if there are no headers in the private message then you have to have two newlines to indicate first the start of the body of the public message and then the start of the body of the private message.

For someone familiar with HTTP this is very confusing

Closing this now because PSKv1 (with the text-based header format) is being replaced by PSKv2 and a binary format https://github.com/interledger/rfcs/pull/351