RFC-3: Remove amount from ILP header

I think @justmoon may have been the one to question the `amount` in the ILP header first, but at the time we concluded that it was useful to keep in there. Right now I am reading more about the internet's end-to-end principle and it is making me lean back towards taking the amount out of the ILP header.

> "A function or service should be carried out within a network layer only if it is needed by all clients of that layer, and it can be completely implemented in that layer" (Source: [Internet Architecture and Innovation](https://books.google.de/books?id=hwCU2yEKbk4C&lpg=PA105&ots=SMGZ5RbBbj&dq=end%20to%20end%20principle%20broad%20narrow&pg=PA67#v=onepage&q&f=false))

Arguments for having it in:
1. The amount helps receivers determine whether the incoming transfer they receive is for the amount that it should be
2. The amount serves as a kind of Time to Live, because connectors in the path could drop a packet if they know that there are insufficient funds to deliver the desired amount to the recipient
3. The amount helps the last connector know the exact amount to deliver to the receiver, so receivers don't have to deal with problems of overpayment

Arguments for taking it out:
1. The amount is useful in payments with conditions where the receiver can use the condition as a MAC on the payment details, such as when using Interledger Payment Requests, and they can reject the incoming transfer if it does not match the expected value. This is a host-to-host function that is not required by all clients of the Interledger layer, so this is not an argument for keeping the amount in the ILP header. It could go in an IPR-specific header, but we may not even need that if connectors deliver the exact amount and the IPR spec could be updated to stipulate that the protocol requires delivery of the exact amount (and disallows overpayment).
2. TTL is normally used in distributed systems to prevent stray packets from clogging up the network bandwidth. In the case of payments with conditions, it is likely that only connectors close to the receiver would be able to figure out if a packet is being carried on a transfer of sufficient value for the receiver to accept it. Because of this, the benefit of having connectors reject packets before they reach the receiver is minimal. In the case of payments without conditions, there is no need to have a TTL because connectors are actually getting paid for forwarding the packet. Since the amount as TTL is not necessary in all cases, and provides only marginal benefit in the other cases, this is not an argument for keeping the amount in.
3. The third argument is the most interesting of the 3, because the fact that it is interpreted by the last connector suggests that the amount is not only a host-to-host detail. However, since the amount is _only_ needed by the last connector, and not by any other, this suggests that a better approach would be to have a `DeliveryOptions` header or something like that that provides specific instructions for the last connector and only the last connector. This would allow all other connectors in the path to ignore this header, while still allowing the last connector to deliver the precise amount.

It would be pretty crazy if we ended up whittling the packet down to just the address and the data + other header formats, but...

cc @justmoon @adrianhopebailie @diminator @sentientwaffle 

In the IP/ILP analogy I think it's worth thinking of the amount in the ILP packet as the equivalent of the data in an IP packet (not the TTL).

An ILP packet is very simple, it has a packet header which just contains an ILP address (there is no port equivalent today), and it has an amount which I think should be the packet content. Other headers can be layered in for things like IPR etc.

In this way we can think of the ILP packet as being "framed" by each local transfer in the same way as an IP packet is framed by different network protocol frames. So sending an ILP payent is as simple as putting an ILP packet in the "memo" of a local transfer. Easy to add that to almost any payment message already today.

We shouldn't think about connectors looking at this value at all. This idea of trying to decide if the local transfer is enough to make the final delivery is an optimization which I think is premature at this level of the stack.

In fact, even the last connector doesn't HAVE to look at this amount, the last connector could just deliver an amount that is calculated based on the rate it is using and the amount it received (like all other connectors before it). 

In reality it is the receiver that makes the final decision about whether or not the amount is sufficient and then decides to fulfill the condition (or not).

So, when connectors start analyzing the amount, I'd compare this to gateways doing QoS analysis on IP networks. They inspect the actual content of the packet and behave based on that and even then, their behaviour is not defined by the core protocol, it's an optimization of the network.

As a side not, if we wanted a reliable TTL equivalent then we'd probably need to do deep routing and quoting before each payment and put the amount required at each hop in the packet header up front.

As another note, isn't the timeout somewhat analogous to the TTL?

I disagree that the amount is equivalent to to the data in IP. The real amount is implicitly defined by the amount being passed along in the transfers. The reason the amount in the header could serve as a TTL is that each connector could compare the transfer amount to the packet amount to decide whether the packet is worth forwarding. That's not trivial though, because you need to use multiple exchange rates to figure that out exactly and in most cases you'd probably want to just forward it anyway.

> We shouldn't think about connectors looking at this value at all.

According to the end-to-end principle, this means having the amount in the header provides no value to most of the parties that will have to parse it, meaning it should be taken out.

> In fact, even the last connector doesn't HAVE to look at this amount, the last connector could just deliver an amount that is calculated based on the rate it is using and the amount it received (like all other connectors before it).

This is true, which is why an optional header would suit this perfectly, because it would only be included in cases where it is wanted.

> According to the end-to-end principle, this means having the amount in the header provides no value to most of the parties that will have to parse it, meaning it should be taken out

Sorry, to be clear I am agreeing that it should not be in the header. BUT, I think it is part of the body of the ILP packet.

> I disagree that the amount is equivalent to to the data in IP. The real amount is implicitly defined by the amount being passed along in the transfers.

What is the "real amount"? 

In IP the content of the packet is the "what". i.e. What is being sent? The data in the packet.

In ILP the "what" is the final amount that is received by the receiver. What is being sent? 100 units of X where X is the currency of the account at <ILP Address in Header>. Short of having virtual money like Taler coins that can actually be put in there the amount is the "what".

> The reason the amount in the header could serve as a TTL is that each connector could compare the transfer amount to the packet amount to decide whether the packet is worth forwarding. That's not trivial though, because you need to use multiple exchange rates to figure that out exactly and in most cases you'd probably want to just forward it anyway.

I agree that we COULD compare that value to a TTL but as you say, that's not trivial and so I think it's a bad analogy. TTL's are simple and, crucially,  the behavior of nodes when processing a packet header and encountering a TTL is defined by the protocol. 

In contrast we don't intend on defining the behavior of connectors that encounter a packet with an amount they don't think will get delivered. It's up to conenctors to decide how to behave. They could, for whatever reason take a loss on forwarding the packet to ensure it is delivered, that's connector business logic.

That's why I think processing of the amount is more like QoS or other higher order services that influence the behaviour of a node/connector but are not defined in the core protocol.

So, I agree that the amount should not be in the header. 

I think it would be normal to put it in the payload but I concede that's also not essential because we should allow for the possibility that the whole payload is encrypted without breaking the protocol.

In discussing this I do think we could reconsider taking the time-stamp set by the sender out of the header and have two time-stamps that travel with the packet. One in the local transfer frame alongside the condition that tells each ledger when to time-out it's prepared transfer and the second in the ILP header that is the reference against which each connector can compare the original timeout and the one they have been given from the previous connector.

Probably a separate issue, need to think about it some more and log it.

What convinced me not to pursue this was a clear-headed look at the complexity before vs after. You're basically saying that you want to change:

``` json
{
  "ilp_header": {
    "account": "ilpdemo.red.bob",
    "amount": "10"
  }
}
```

to

``` json
{
  "ilp_header": {
    "account": "ilpdemo.red.bob"
  },
  "delivery_options": {
    "amount": "10"
  }
}
```

where `delivery_options` is a new protocol that lives on a new protocol layer (last-hop layer) and is parsed by a new class of system (last-hop connector).

The end-to-end protocol isn't a goal in itself. It's useful only to the extent that it [promotes architectural simplicity](https://tools.ietf.org/html/rfc3439#section-2.1). Excessive layering ends up hurting you. From [RFC 3439, Section 3: Laying considered harmful](https://tools.ietf.org/html/rfc3439#section-3): 

> As a result of inter-layer dependencies, increased layering can quickly lead to violation of the Simplicity Principle.

As an example, the split between connectors and last-hop connectors isn't a very clean one. As you point out, connectors in the vicinity of the receiver might also want to look at the destination amount to decide whether the payment still has a good chance of success.

But failing sooner is not the main reason they'd care about the destination amount. Preparation happens after quoting, which means time has passed and more information is available (less uncertainty about fx rates, availability of liquidity etc.), so slippage can be smaller. As a connector I will often be able to take a larger profit without harming the success chance of the payment just by using a lower slippage during prep. But for that I need to know the destination amount. So assuming that a significant number of payments that I process are aimed at ledgers in my vicinity or at ledgers that are popular enough for all connectors globally to have them in their routing table (note that 24% of Americans use Gmail), I can make significantly more money if I can parse the `delivery_options` than if I can't. Ergo, almost all connectors will have support for both the connector layer and the last-hop connector layer. Therefore, splitting the two does not make sense.

Ok. As @justmoon pointed out in conversation, this may be a better argument for making the `amount` field optional than for putting it in another header.

On consideration I have an argument in favor of keeping it in the header so that connectors can rely on it.

As a connector, it's conceivable that (especially for a high value payment) I get a quote request that contains an amount to deliver and address to deliver to.

I may, as a way to ensure I give my peers consistent service, wish to keep a record of the quotes I give and ensure I deliver on that quote, for at least a short period of time.

For that reason it is useful to rely on getting the amount in every packet, suggesting it should be in the header.



@emschwartz @adrianhopebailie Are we ready to close this issue?

Is the amount optional or required?

Separate issue and separate discussion. I was talking about this issue (removing it entirely.)

Continuing that discussion in https://github.com/interledger/rfcs/issues/103

To confirm, the conclusion is that the amount will stay in the header but #103 is a discussion about making it optional.